* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    background: rgb(134, 134, 134);
    background: linear-gradient(180deg, rgba(134, 134, 134, 1) 0%, rgba(255, 255, 255, 1) 82%);
}*/

/*-------------INDEX-------------*/

.navbar {
    background-color: gray;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.titulos-principales {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: pink;
}

.main-tarjetas img {
    width: 200px;
    height: 180px;
    border-radius: 40px;
    align-items: center;
    transition: all 1s;
}

.main-tarjetas p {
    width: 200px;
    height: 180px;
    padding-left: 20px;
}

.main-tarjetas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.tarjetas {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-tarjetas img:hover {
    transform: scale(1.1);
}

/*-------------TURNOS-------------*/

.chatbotTitulo {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: x-large;
}

.chatbotSubtitulo {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: medium;
    color: black;
}

.chatbotFormulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px;
}

.chatbotFormulario input {
    margin: 12px;
}

.btn-close {
    color: blue;
}

.botonesBot {
    padding: 10px;
    border-radius: 12px;
}

/*--------------CONTACTO----------*/

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 190px;
}

.contactame {
    width: 50%;
    height: 300px;
    padding: 30px;
}

.formulario h4 {
    color: black;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.formulario input {
    width: 100%;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(164, 164, 164, 0.59);
}

.formulario textarea {
    width: 100%;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(164, 164, 164, 0.59);
}

#contactarnos {
    font-size: 18px;
    background-color: rgba(164, 164, 164, 0.59);
    border: 1px solid rgba(164, 164, 164, 0.59);
    margin-top: 4px;
    margin-bottom: 75px;
}

.contactame input::placeholder {
    color: black;
}

.contactame textarea::placeholder {
    color: black;
}

/*--------CAPITAL HUMANO------*/

.mainText {
    text-align: justify;
    margin: 30px;
}

.subtituloBusquedas {
    text-align: center;
}

.cardBusqueda {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.cardUno {
    width: 400px;
    height: auto;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border: 1px solid gray;
}

.cardUno h6 {
    text-align: center;
    font-size: x-large;
}

.justificar {
    text-align: justify;
}

.textFinal {
    text-align: justify;
    margin: 50px 20px 75px 20px;
}

/*--------EQUIPO--------------*/

.miembrosEquipo {
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 30px;
    padding: 20px;
}

.miembrosEquipo li {
    padding: 12px;
    font-weight: bold;
}

/*--------INSTITUCION--------*/

.main-institucion {
    width: auto;
    height: auto;
}

.main-institucion h3 {
    text-align: center;
    width: 100%;
    padding: 20px;
    text-decoration: underline;
}

.cajas {
    margin: 70px;
}

.main-institucion p {
    text-align: justify;
}

.listado {
    text-align: center;
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 40px;
}

/*------------footer-------------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.derechosreservados {
    font-size: 10px;
}


/*?---------MEDIA QUERIES------------*/

@media (max-width: 768px) {}

/* Para pantallas medianas (ej: tablets) */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Para pantallas grandes (ej: desktops) */
@media (min-width: 1250px) {
    .main-tarjetas {
        margin-bottom: 180px;
    }

    .chatbot {
        margin-bottom: 100px;
    }

    .formulario {
        margin-bottom: 300px;
    }

    .listadoEquipo {
        margin-bottom: 200px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}